.sidebar{
    flex:1 0 auto;
    background: #F4F6F8;
    height: 100%;
    padding: 60px 25px;
    box-sizing: border-box;
    max-width: 300px;
    &__active{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }
    &__list{
        cursor: pointer;
        margin-bottom: 30px;
        &--plus{
            color:#767676;
            transition: 0.2s ease all;
            opacity: 0.7;
            &:hover{
                opacity: 1;
                background: none!important;
                box-shadow: none!important;
            }
        }
        li{
            margin: 2px;
            padding: 10px 12px;
            display: flex;
            align-items: center;
            transition: 0.2s ease all;
            &:hover{
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                img{
                    opacity: 0.2;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
            .icon__wrap{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;height: 20px;
            }
            span{
                margin-left: 10px;
                flex:1;
            }
            img{
                opacity: 0;
                transition: 0.2s ease all;
                padding-left: 5px;
            }
        }
       
    }
}