.tasks{
    flex:1 1 auto;
    margin: 65px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__empty{
        position: absolute;
        left: 50%;
        top: 50%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
       
        color: #C9D1D3;
    }
    &__title{
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 39px;
        color: #64C4ED;
        margin-bottom: 30px;
        img{
           margin-top: 5px;
           margin-left: 15px;
           opacity: 0.2;
           &:hover{
            opacity: 0.8;
           } 
        }
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 20px;
    }
    .checkbox{
        display: flex;
        align-items: center;
        margin-top:20px;
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #E8E8E8;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            cursor: pointer;
            flex-shrink: 0;
            &:hover{
                background: #F2F2F2;
                border: 2px solid #F2F2F2;
                svg{
                    path{
                        stroke: #B3B3B3;
                    }
                }
            }
        }
        input[type='checkbox']{
            display: none;
        }
        input:checked + label{
            background: #4DD599;
            border: 2px solid #4DD599;
            &:hover{
                svg{
                    path{
                        stroke:#fff;
                    }
                }
            }
        }
        input{
            width: 100%;
            border: 0;
            margin-left: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
    }
}